      .noConnection{
        color : white;
        background-color: black;
      }
      .rigCalibrating{
        color : yellow;
        background-color: black;
      }
      .rigReady{
        color: black;
        background-color: #009933;
      }
      .rigWaiting{
        color: black;
        background-color: #003399;
      }
      .rigTesting{
        color: black;
        background-color: #333333;
      }
      .rigDone{
        background-color: red;
        color: white;
      }
      .navInput{
        vertical-align: bottom;
        padding-top: 13px;
        color: orange;
      }
      #submit{
        color: white;
      }
      #currentPage{
        color: #FF9900;
      }
      #submit{
        color: orange;
      }
      #submit:hover{
        color: #009933;
      }
      .instruction{
        font-size: 100px;
        font-style: bold;
        text-align: center;
      }
      .instructionMargin{
        padding-bottom: 10%;
      }
